{% extends 'base.html' %}

{% block title %}PickUp: Browse{% endblock %}

{% block browse_nav_class %}active{% endblock %}

{% block content %}

<h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px">Browse</h1>

<div class="container">
  <div class="row gy-4 row-cols-3">
    {% for item in items %}
    <div class="col">
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#868e96"></rect>
            </svg>
            <div class="card-body">
            <h5 class="card-title">{{item[1]}} &#8729; ${{item[4]}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{item[5]}}/5 - Seller_id: {{item[3]}}</h6>
            <p class="card-text">{{item[2]}}</p>
            <a class="btn btn-primary" id="{{item[0]}}" onclick="addToCart(this.id)">Add to cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  // Makes a call to the backend to add a cart_item to the cart_items table
  function addToCart(item_id) {
    fetch(`http://127.0.0.1:5000/add/${item_id}`);
  }
</script>

{% endblock %}