{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block enable_about %}active{% endblock %}

{% block content %}

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper feugiat nibh sed pulvinar. Fusce id velit ut tortor pretium. Volutpat blandit aliquam etiam erat velit scelerisque in dictum. Turpis massa sed elementum tempus egestas sed sed. Sit amet volutpat consequat mauris nunc. Dictumst quisque sagittis purus sit amet. In nulla posuere sollicitudin aliquam ultrices. Purus sit amet volutpat consequat mauris nunc. Nibh sit amet commodo nulla. Tortor aliquam nulla facilisi cras fermentum odio. Tellus in hac habitasse platea dictumst. Feugiat in ante metus dictum at tempor commodo ullamcorper. Laoreet non curabitur gravida arcu ac tortor.
</p>
<p>
    Aliquam ut porttitor leo a. Aliquam ultrices sagittis orci a. Sed risus ultricies tristique nulla. Sollicitudin aliquam ultrices sagittis orci a. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Purus in massa tempor nec feugiat nisl. Id leo in vitae turpis. Odio facilisis mauris sit amet massa. In vitae turpis massa sed. Viverra ipsum nunc aliquet bibendum enim. Faucibus vitae aliquet nec ullamcorper. Non consectetur a erat nam at lectus urna duis. Etiam tempor orci eu lobortis elementum nibh. Lacus luctus accumsan tortor posuere. Faucibus vitae aliquet nec ullamcorper sit amet.
</p>
<p>
    Cras pulvinar mattis nunc sed blandit. Consectetur libero id faucibus nisl tincidunt eget nullam non. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Leo urna molestie at elementum eu. Felis imperdiet proin fermentum leo vel orci porta. Pellentesque dignissim enim sit amet venenatis urna. Egestas erat imperdiet sed euismod nisi porta lorem mollis. Imperdiet sed euismod nisi porta lorem mollis aliquam ut. Ac tortor dignissim convallis aenean et tortor at risus viverra. Odio euismod lacinia at quis. Tempor nec feugiat nisl pretium fusce id velit ut tortor.
</p>

{% endblock %}