{% extends 'base.html' %} 

{% block title %}FAQs{% endblock %} 

{% block enable_faq %}active{% endblock %} 

{% block content %}

<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample" onfocus="this.blur();" style="width: 100%; margin-top: 10px;">
    Question 1
</a>
  <div class="collapse" id="collapse1">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
</div>

<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample" onfocus="this.blur();" style="width: 100%; margin-top: 10px;">
    Question 2
</a>
  <div class="collapse" id="collapse2">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
</div>

<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample" onfocus="this.blur();" style="width: 100%; margin-top: 10px;">
    Question 3
</a>
  <div class="collapse" id="collapse3">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
</div>

{% endblock %}