<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Talluri Technologies</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about.html">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Medical Billing
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/billing.html">Our Process</a></li>
              <li><a class="dropdown-item" href="/advance-claims.html">Advance Claims Analysis</a></li>
              <li><a class="dropdown-item" href="/insurance-eligibility.html">Insurance Eligibility Verification</a></li>
              <li><a class="dropdown-item" href="/prior-authorization.html">Prior Authorization</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Medical Coding
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/coding-process.html">Our Process</a></li>
              <li><a class="dropdown-item" href="/document-improvement.html">Clinical Document Improvement</a></li>
              <li><a class="dropdown-item" href="/payment-program.html">Quality Payment Program</a></li>
              <li><a class="dropdown-item" href="/cert-review.html">CERT Review</a></li>
              <li><a class="dropdown-item" href="/provider-education.html">Provider Education</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vas.html">Value Added Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/specialties.html">Our Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>